<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.welb.organization_check.mapper.AssessmentStateMapper" >
  <resultMap id="BaseResultMap" type="com.welb.organization_check.entity.AssessmentState" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="State" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, State
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from assessment_state
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from assessment_state
    where Id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.welb.organization_check.entity.AssessmentState" >
    insert into assessment_state
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="state != null" >
        State,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.welb.organization_check.entity.AssessmentState" >
    update assessment_state
    <set >
      <if test="state != null" >
        State = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = 1
  </update>

</mapper>
