<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welb.organization_check.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.welb.organization_check.entity.Role">
        <id column="RoleCode" jdbcType="VARCHAR" property="rolecode"/>
        <result column="RoleName" jdbcType="VARCHAR" property="rolename"/>
        <result column="RoleDescription" jdbcType="VARCHAR" property="roledescription"/>
    </resultMap>
    <sql id="Base_Column_List">
    RoleCode, RoleName, RoleDescription
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from role
        where RoleCode = #{rolecode,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from role
    where RoleCode = #{rolecode}
  </delete>
    <insert id="insert" parameterType="com.welb.organization_check.entity.Role">
    insert into role (RoleCode, RoleName, RoleDescription
      )
    values (#{rolecode,jdbcType=VARCHAR}, #{rolename,jdbcType=VARCHAR}, #{roledescription,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.welb.organization_check.entity.Role">
        insert into role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rolecode != null">
                RoleCode,
            </if>
            <if test="rolename != null">
                RoleName,
            </if>
            <if test="roledescription != null">
                RoleDescription,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rolecode != null">
                #{rolecode,jdbcType=VARCHAR},
            </if>
            <if test="rolename != null">
                #{rolename,jdbcType=VARCHAR},
            </if>
            <if test="roledescription != null">
                #{roledescription,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.welb.organization_check.entity.Role">
        update role
        <set>
            <if test="rolename != null">
                RoleName = #{rolename,jdbcType=VARCHAR},
            </if>
            <if test="roledescription != null">
                RoleDescription = #{roledescription,jdbcType=VARCHAR},
            </if>
        </set>
        where RoleCode = #{rolecode,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.welb.organization_check.entity.Role">
    update role
    set RoleName = #{rolename,jdbcType=VARCHAR},
      RoleDescription = #{roledescription,jdbcType=VARCHAR}
    where RoleCode = #{rolecode,jdbcType=VARCHAR}
  </update>
    <!--查询所有的角色-->
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from role order by RoleCode+0
    </select>
    <!--查询角色code的最大数-->
    <select id="selectMaxRoleCode" resultType="string">
    select MAX(CAST(RoleCode as signed INTEGER) ) from role
  </select>
    <!--通过用户code查找所有角色-->
    <select id="selectRoleListByUserCode" resultMap="BaseResultMap">
    select r.* from role r, user_role ur where ur.RoleCode=r.RoleCode and ur.UserCode=#{usercode} order  by r.RoleCode+0
  </select>
</mapper>
