<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.welb.organization_check.mapper.ScoreMapper">
    <resultMap id="BaseResultMap" type="com.welb.organization_check.entity.Score">
        <id column="Id" property="id" jdbcType="VARCHAR"/>
        <result column="ScorringCode" property="scorringcode" jdbcType="VARCHAR"/>
        <result column="ScorredCode" property="scorredcode" jdbcType="VARCHAR"/>
        <result column="ScoreType" property="scoretype" jdbcType="VARCHAR"/>
        <result column="DutyCode" property="dutycode" jdbcType="VARCHAR"/>
        <result column="dbtype" property="dbtype" jdbcType="VARCHAR"/>
        <result column="dbbk" property="dbbk" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    Id, ScorringCode, ScorredCode, ScoreType,DutyCode ,dbtype,dbbk
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from score
        where Id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from score
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.welb.organization_check.entity.Score">
    insert into score (Id, ScorringCode, ScorredCode, ScoreType,DutyCode,dbtype)
    values (#{id,jdbcType=VARCHAR}, #{scorringcode,jdbcType=VARCHAR}, #{scorredcode,jdbcType=VARCHAR},
      #{scoretype,jdbcType=VARCHAR},#{dutycode,jdbcType=VARCHAR},#{dbtype,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.welb.organization_check.entity.Score">
        insert into score
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                Id,
            </if>
            <if test="scorringcode != null">
                ScorringCode,
            </if>
            <if test="scorredcode != null">
                ScorredCode,
            </if>
            <if test="scoretype != null">
                ScoreType,
            </if>
            <if test="dutycode != null">
                DutyCode,
            </if>
            <if test="dbtype != null">
                dbtype,
            </if>
            <if test="dbbk != null">
                dbbk,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="scorringcode != null">
                #{scorringcode,jdbcType=VARCHAR},
            </if>
            <if test="scorredcode != null">
                #{scorredcode,jdbcType=VARCHAR},
            </if>
            <if test="scoretype != null">
                #{scoretype,jdbcType=VARCHAR},
            </if>
            <if test="dutycode != null">
                #{dutycode,jdbcType=VARCHAR},
            </if>
            <if test="dbtype != null">
                #{dbtype,jdbcType=VARCHAR},
            </if>
            <if test="dbbk != null">
                #{dbbk,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.welb.organization_check.entity.Score">
        update score
        <set>
            <if test="scorringcode != null">
                ScorringCode = #{scorringcode,jdbcType=VARCHAR},
            </if>
            <if test="scorredcode != null">
                ScorredCode = #{scorredcode,jdbcType=VARCHAR},
            </if>
            <if test="scoretype != null">
                ScoreType = #{scoretype,jdbcType=VARCHAR},
            </if>
            <if test="dutycode != null">
                DutyCode = #{dutycode,jdbcType=VARCHAR},
            </if>
            <if test="dbtype != null">
                dbtype = #{dbtype,jdbcType=VARCHAR},
            </if>
            <if test="dbbk != null">
                dbbk = #{dbbk,jdbcType=VARCHAR},
            </if>
        </set>
        where Id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.welb.organization_check.entity.Score">
    update score
    set ScorringCode = #{scorringcode,jdbcType=VARCHAR},
      ScorredCode = #{scorredcode,jdbcType=VARCHAR},
      ScoreType = #{scoretype,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
    <select id="selectMaxId" resultType="string">
    select MAX(CAST(Id as SIGNED INTEGER))  from score
  </select>
    <!--通过被评分人code查找评分关系数据-->
    <select id="selectScoresByScorredCode" resultMap="BaseResultMap">
        select s.* from score s  left join user u on u.UserCode=s.ScorringCode
        <where>
            <if test="scorredcode!=null">
                and s.ScorredCode=#{scorredcode}
            </if>
            <if test="scoretype!=null">
                and s.ScoreType=#{scoretype}
            </if>
            <if test="dbtype!=null">
                and s.dbtype=#{dbtype}
            </if>
<!--            <if test="dbbk!=null">-->
<!--                and s.dbbk=#{dbbk}-->
<!--            </if>-->
            and u.RoleType="0"
            and u.Flag="0"

            and u.UserState="1"
        </where>
        order by Id+0
    </select>
    <!--模糊匹配查询名字和岗位-->
    <select id="selectScoresByscorredAndUser" resultMap="BaseResultMap">
        select s.*,u.UserName from score s left join user u on u.UserCode=s.ScorringCode
        <where>
            <if test="scorredcode!=null">
                and s.ScorredCode=#{scorredcode}
            </if>
            <if test="scoretype!=null">
                and s.ScoreType=#{scoretype}
            </if>
            <if test="username!=null">
                and u.UserName like concat("%",#{username},"%")
            </if>
            <if test="stationcode!=null">
                and u.StationCode= #{stationcode}
            </if>
            <if test="dbtype!=null">
                and s.dbtype=#{dbtype}
            </if>
<!--            <if test="dbbk!=null">-->
<!--                and s.dbbk=#{dbbk}-->
<!--            </if>-->
        </where>
        and u.RoleType="0"
        and u.Flag="0"

        and u.UserState="1"
        order by Id+0
    </select>
    <!--模糊匹配查询名字-->
    <select id="selectScoresByscorredAndUserName" resultMap="BaseResultMap">
        select s.*,u.UserName from score s left join user u on u.UserCode=s.ScorringCode
        <where>
            <if test="scorredcode!=null">
                and s.ScorredCode=#{scorredcode}
            </if>
            <if test="scoretype!=null">
                and s.ScoreType=#{scoretype}
            </if>
            <if test="dbtype!=null">
                and s.dbtype=#{dbtype}
            </if>
<!--            <if test="dbbk!=null">-->
<!--                and s.dbbk=#{dbbk}-->
<!--            </if>-->
            <if test="username!=null">
                and u.UserName like concat("%",#{username},"%")
            </if>
            and u.RoleType="0"
            and u.Flag="0"

            and u.UserState="1"
        </where>
        order by Id+0
    </select>
    <!--模糊匹配查岗位-->
    <select id="selectScoresByscorredAndUserStationCode" resultMap="BaseResultMap">
        select s.*,u.UserName from score s left join user u on u.UserCode=s.ScorringCode
        <where>
            <if test="scorredcode!=null">
                and s.ScorredCode=#{scorredcode}
            </if>
            <if test="scoretype!=null">
                and s.ScoreType=#{scoretype}
            </if>
            <if test="dbtype!=null">
                and s.dbtype=#{dbtype}
            </if>
<!--            <if test="dbbk!=null">-->
<!--                and s.dbbk=#{dbbk}-->
<!--            </if>-->
            <if test="stationcode!=null">
                and u.StationCode= #{stationcode}
            </if>
            and u.RoleType="0"
            and u.Flag="0"

            and u.UserState="1"
        </where>
        order by Id+0
    </select>
    <!--通过评分人code查找被评分人关系数据-->
    <select id="selectScoresByScorringCode" resultMap="BaseResultMap">
        select s.* from score s left join user u on u.Usercode= s.ScorredCode
        <where>
            <if test="scorredcode!=null">
                and ScorringCode=#{scorredcode}
            </if>
            <if test="scoretype!=null">
                and s.ScoreType=#{scoretype}
            </if>
            <if test="dbtype!=null">
                and s.dbtype=#{dbtype}
            </if>
<!--            <if test="dbbk!=null">-->
<!--                and s.dbbk=#{dbbk}-->
<!--            </if>-->
            and u.RoleType="0"
            and u.Flag="0"

            and u.UserState="1"
        </where>
        order by Id+0
    </select>

    <!--通过评分人code查找被评分人关系数据 模糊查询姓名 岗位-->
    <select id="selectScoresByScorringAndUser" resultMap="BaseResultMap">
        select s.* from score s left join user u on u.UserCode=s.ScorredCode
        <where>
            <if test="scorredcode!=null">
                and ScorringCode=#{scorredcode}
            </if>
            <if test="scoretype!=null">
                and s.ScoreType=#{scoretype}
            </if>
            <if test="dbtype!=null">
                and s.dbtype=#{dbtype}
            </if>
<!--            <if test="dbbk!=null">-->
<!--                and s.dbbk=#{dbbk}-->
<!--            </if>-->
            <if test="username!=null">
                and u.UserName like concat("%",#{username},"%")
            </if>
            <if test="stationcode!=null">
                and u.StationCode= #{stationcode}
            </if>
            and u.RoleType="0"
            and u.Flag="0"

            and u.UserState="1"
        </where>
    </select>
    <!--通过评分人code查找被评分人关系数据 模糊查询姓名 -->
    <select id="selectScoresByScorringAndUserName" resultMap="BaseResultMap">
        select s.* from score s left join user u on u.UserCode=s.ScorredCode
        <where>
            <if test="scorredcode!=null">
                and ScorringCode=#{scorredcode}
            </if>
            <if test="scoretype!=null">
                and s.ScoreType=#{scoretype}
            </if>
            <if test="dbtype!=null">
                and s.dbtype=#{dbtype}
            </if>
<!--            <if test="dbbk!=null">-->
<!--                and s.dbbk=#{dbbk}-->
<!--            </if>-->
            <if test="username!=null">
                and u.UserName like concat("%",#{username},"%")
            </if>
            and u.RoleType="0"
            and u.Flag="0"
            and u.UserState="1"
        </where>
        order by Id+0
    </select>
    <!--通过评分人code查找被评分人关系数据 查询岗位-->
    <select id="selectScoresByScorringAndUserStationCode" resultMap="BaseResultMap">
        select s.* from score s left join user u on u.UserCode=s.ScorredCode
        <where>
            <if test="scorredcode!=null">
                and ScorringCode=#{scorredcode}
            </if>
            <if test="scoretype!=null">
                and s.ScoreType=#{scoretype}
            </if>
            <if test="dbtype!=null">
                and s.dbtype=#{dbtype}
            </if>
<!--            <if test="dbbk!=null">-->
<!--                and s.dbbk=#{dbbk}-->
<!--            </if>-->
            <if test="stationcode!=null">
                and u.StationCode= #{stationcode}
            </if>
            and u.RoleType="0"
            and u.Flag="0"

            and u.UserState="1"
        </where>
        order by Id+0
    </select>
    <!--通过评分人code查找评分人信息-->
    <select id="selectScoresByEmployeeCode" resultMap="BaseResultMap">
    select * from  score   where  ScorringCode=#{scorredcode}  and dbtype=#{dbtype} order by Id+0
  </select>
    <!--通过被评分人code和评分人code查找评分数据-->
    <select id="selectTypeByCode" resultType="com.welb.organization_check.entity.Score">
    select * from score where ScorredCode=#{scorredcode} and ScorringCode=#{scorringcode} and dbtype=#{dbtype} and DutyCode is null
  </select>
    <!--通过被评分人code和评分人code查找评分数据-->
    <select id="selectTypeByCodeList" resultType="com.welb.organization_check.entity.Score">
    select * from score where ScorredCode=#{scorredcode} and ScorringCode=#{scorringcode} and dbtype=#{dbtype}
  </select>

    <!--通过被评人code查找所有数据-->
    <select id="selectScoreByScorredCode" resultMap="BaseResultMap">
        select * from score where ScorredCode=#{scorredcode} and dbtype = #{dbtype}
    </select>
    <!--通过关联scoreflow表的主键查找detail所有数据-->
    <select id="selectDetailByFMserialno" resultMap="BaseResultMap">
        select * from scoredetail where MSerialNo=#{mserialno}
    </select>

    <!--通过被评分人code查找评分关系数据-->
    <select id="selectScoreByCodeAndType" resultType="com.welb.organization_check.entity.Score">
        select s.* from score s
        <where>
            <if test="scorredcode!=null">
                and s.ScorredCode=#{scorredcode}
            </if>
            <if test="dbtype!=null">
                and s.dbtype=#{dbtype}
            </if>
<!--            <if test="dbbk!=null">-->
<!--                and s.dbbk=#{dbbk}-->
<!--            </if>-->
            <if test="scorringcode!=null">
                and s.ScorringCode=#{scorringcode}
            </if>
            <if test="scoretype!=null">
                and s.ScoreType=#{scoretype}
            </if>

        </where>
        order by s.Id+0
    </select>


    <delete id="batchDelete">
        delete from score where Id in
        <foreach collection="list" item="scorredIds" separator="," open="(" close=")">
            #{scorredIds}
        </foreach>
    </delete>



    <!--通过被评人code查找所有数据的主键-->
    <select id="selectIdByScorredCode" resultMap="BaseResultMap">
        select Id from score where ScorredCode=#{scorredcode}
    </select>

    <!--通过评分人code，指标code，类型 查找所有数据-->
    <select id="selectDutyScoreList" resultMap="BaseResultMap">
        SELECT
            *
        FROM
            Score
        WHERE
            ScorredCode = #{score.scorredcode}
            and ScorringCode = #{score.scorringcode}
            and DutyCode = #{score.dutycode}
            and ScoreType = #{score.scoretype}
            and dbtype = #{score.dbtype}
    </select>

    <!--通过评分人code查找所有数据-->
    <select id="selectIdByScorringCode" resultMap="BaseResultMap">
        select Id,ScorredCode from score where ScorringCode=#{scorringcode}
    </select>

    <select id="findScoreAll" resultMap="BaseResultMap">
        select * from score where dbtype = #{dbtype}
        <if test="postType != null and postType !=''">
            AND ScorredCode in (
            select UserCode from user where Flag='0' and UserState='1' and RoleType='0' and postType = #{postType}
            )
        </if>
        <if test="userCode != null and userCode !=''">
            AND ScorredCode = #{userCode}
        </if>
    </select>

    <select id="findScoreScorringInList" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        score
        where
        ScorredCode = #{score.scorredcode}
        <if test="score.scoretype != null">
            and ScoreType = #{score.scoretype}
        </if>
        and dbtype = #{score.dbtype}
        and ScorringCode in
        <foreach item="item" index="index" collection="scorringList" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findScoreDutyInList" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        score
        where
        ScorredCode = #{score.scorredcode}
        and ScoreType = #{score.scoretype}
        and dbtype = #{score.dbtype}
        and DutyCode in
        <foreach item="item" index="index" collection="dutyCodeList" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <delete id="deleteDutyScore">
        delete from score where ScorredCode = #{score.scorredcode} and ScoreType = #{score.scoretype} and dbtype = #{score.dbtype}
        and DutyCode in
        <foreach collection="item" item="dutyCodeList" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <select id="findScoreDutyScorringUserList" resultType="com.welb.organization_check.entity.Score">
    SELECT
        s1.*,u.UserName scorringname,s.StationName stationname1,d.DepartmentName departmentname1
    FROM
        score s1,station s ,department d ,user u,user_role ur
    where
        s1.ScorringCode = u.UserCode
        and u.UserCode=ur.UserCode
        and u.StationCode=s.StationCode
        and s.DepartmentCode=d.DepartmentCode
        and s1.ScorredCode = #{scorredCode}
        and s1.DutyCode = #{dutycode}
        and s1.ScoreType = #{scoretype}
        and s1.dbtype = #{dbtype}
  </select>

    <delete id="deleteDbtype">
        delete from score where dbtype = #{dbtype}
    </delete>

    <delete id="deleteByScorredCodeAndDbtype">
        delete from score where ScorredCode = #{scorredcode} and dbtype = #{dbtype}
    </delete>
</mapper>
