<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.welb.organization_check.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.welb.organization_check.entity.User">
        <id column="UserCode" jdbcType="VARCHAR" property="usercode"/>
        <result column="UserName" jdbcType="VARCHAR" property="username"/>
        <result column="Password" jdbcType="VARCHAR" property="password"/>
        <result column="UserState" jdbcType="VARCHAR" property="userstate"/>
        <result column="Mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="Operator" jdbcType="VARCHAR" property="operator"/>
        <result column="StationCode" jdbcType="VARCHAR" property="stationcode"/>
        <result column="PicturePath" jdbcType="VARCHAR" property="picturepath"/>
        <result column="Sex" jdbcType="VARCHAR" property="sex"/>
        <result column="Nation" jdbcType="VARCHAR" property="nation"/>
        <result column="Education" jdbcType="VARCHAR" property="education"/>
        <result column="Email" jdbcType="VARCHAR" property="email"/>
        <result column="Political" jdbcType="VARCHAR" property="political"/>
        <result column="MoneyCard" jdbcType="VARCHAR" property="moneycard"/>
        <result column="BranchCode" jdbcType="VARCHAR" property="branchcode"/>
        <result column="FullBranchCode" jdbcType="VARCHAR" property="fullbranchcode"/>
        <result column="ARatio" jdbcType="DOUBLE" property="aratio"/>
        <result column="BRatio" jdbcType="DOUBLE" property="bratio"/>
        <result column="CRatio" jdbcType="DOUBLE" property="cratio"/>
        <result column="DRatio" jdbcType="DOUBLE" property="dratio"/>
        <result column="ERatio" jdbcType="DOUBLE" property="eratio"/>
        <result column="FRatio" jdbcType="DOUBLE" property="fratio"/>
        <result column="ARatio2" jdbcType="DOUBLE" property="aratio2"/>
        <result column="BRatio2" jdbcType="DOUBLE" property="bratio2"/>
        <result column="CRatio2" jdbcType="DOUBLE" property="cratio2"/>
        <result column="DRatio2" jdbcType="DOUBLE" property="dratio2"/>
        <result column="ERatio2" jdbcType="DOUBLE" property="eratio2"/>
        <result column="FRatio2" jdbcType="DOUBLE" property="fratio2"/>
        <result column="FullStationCode" jdbcType="VARCHAR" property="fullstationcode"/>
        <result column="RoleType" jdbcType="VARCHAR" property="roletype"/>
        <result column="Flag" jdbcType="VARCHAR" property="flag"/>
        <result column="RoleCode" jdbcType="VARCHAR" property="rolecode"/>
        <result column="IsAgent" jdbcType="VARCHAR" property="isagent"/>
        <result column="postType" jdbcType="VARCHAR" property="postType"/>
        <result column="dbtype" jdbcType="VARCHAR" property="dbtype"/>
        <result column="dbbk" property="dbbk" jdbcType="VARCHAR"/>
        <association property="rolecode" javaType="com.welb.organization_check.entity.Role">
            <id column="RoleCode" jdbcType="VARCHAR" property="rolecode"/>
            <result column="RoleName" jdbcType="VARCHAR" property="rolename"/>
            <result column="RoleDescription" jdbcType="VARCHAR" property="roledescription"/>
        </association>
    </resultMap>
    <resultMap id="BaseResultMap1" type="com.welb.organization_check.entity.User">
        <id column="UserCode" jdbcType="VARCHAR" property="usercode"/>
        <result column="UserName" jdbcType="VARCHAR" property="username"/>
        <result column="Password" jdbcType="VARCHAR" property="password"/>
        <result column="UserState" jdbcType="VARCHAR" property="userstate"/>
        <result column="Mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="Operator" jdbcType="VARCHAR" property="operator"/>
        <result column="StationCode" jdbcType="VARCHAR" property="stationcode"/>
        <result column="PicturePath" jdbcType="VARCHAR" property="picturepath"/>
        <result column="Sex" jdbcType="VARCHAR" property="sex"/>
        <result column="Nation" jdbcType="VARCHAR" property="nation"/>
        <result column="Education" jdbcType="VARCHAR" property="education"/>
        <result column="Email" jdbcType="VARCHAR" property="email"/>
        <result column="Political" jdbcType="VARCHAR" property="political"/>
        <result column="MoneyCard" jdbcType="VARCHAR" property="moneycard"/>
        <result column="BranchCode" jdbcType="VARCHAR" property="branchcode"/>
        <result column="FullBranchCode" jdbcType="VARCHAR" property="fullbranchcode"/>
        <result column="ARatio" jdbcType="DOUBLE" property="aratio"/>
        <result column="BRatio" jdbcType="DOUBLE" property="bratio"/>
        <result column="CRatio" jdbcType="DOUBLE" property="cratio"/>
        <result column="DRatio" jdbcType="DOUBLE" property="dratio"/>
        <result column="ERatio" jdbcType="DOUBLE" property="eratio"/>
        <result column="FRatio" jdbcType="DOUBLE" property="fratio"/>
        <result column="ARatio2" jdbcType="DOUBLE" property="aratio2"/>
        <result column="BRatio2" jdbcType="DOUBLE" property="bratio2"/>
        <result column="CRatio2" jdbcType="DOUBLE" property="cratio2"/>
        <result column="DRatio2" jdbcType="DOUBLE" property="dratio2"/>
        <result column="ERatio2" jdbcType="DOUBLE" property="eratio2"/>
        <result column="FRatio2" jdbcType="DOUBLE" property="fratio2"/>
        <result column="FullStationCode" jdbcType="VARCHAR" property="fullstationcode"/>
        <result column="RoleType" jdbcType="VARCHAR" property="roletype"/>
        <result column="Flag" jdbcType="VARCHAR" property="flag"/>
        <result column="IsAgent" jdbcType="VARCHAR" property="isagent"/>
        <result column="postType" jdbcType="VARCHAR" property="postType"/>
        <result column="dbtype" jdbcType="VARCHAR" property="dbtype"/>
        <result column="dbbk" property="dbbk" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    UserCode, UserName, Password, UserState, Mobile, Operator, StationCode, PicturePath,
    Sex, Nation, Education, Email, Political, MoneyCard, BranchCode, ARatio, BRatio,
    CRatio, DRatio,ERatio, FRatio,ARatio2, BRatio2, CRatio2, DRatio2,ERatio2, FRatio2,
    FullStationCode,FullBranchCode,Flag,RoleType,IsAgent,postType,dbtype,dbbk
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where UserCode = #{usercode,jdbcType=VARCHAR}
        and Flag="0"
        and RoleType="0"
        -- and UserState="1"
    </select>

    <select id="selectAllUsers" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where Flag="0"
        and RoleType="0"
        -- and UserState="1"
    </select>

    <select id="getUserByUserCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where UserCode = #{usercode,jdbcType=VARCHAR}
        and Flag="0"
    </select>

    <select id="selectByMoneyCard" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where MoneyCard = #{moneycard,jdbcType=VARCHAR}
        and Flag="0"
        and UserState="1"
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where UserCode = #{usercode,jdbcType=VARCHAR}
  </delete>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="usercode"
            parameterType="com.welb.organization_check.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="usercode != null">
                UserCode,
            </if>
            <if test="username != null">
                UserName,
            </if>
            <if test="password != null">
                Password,
            </if>
            <if test="userstate != null">
                UserState,
            </if>
            <if test="mobile != null">
                Mobile,
            </if>
            <if test="operator != null">
                Operator,
            </if>
            <if test="stationcode != null">
                StationCode,
            </if>
            <if test="picturepath != null">
                PicturePath,
            </if>
            <if test="sex != null">
                Sex,
            </if>
            <if test="nation != null">
                Nation,
            </if>
            <if test="education != null">
                Education,
            </if>
            <if test="email != null">
                Email,
            </if>
            <if test="political != null">
                Political,
            </if>
            <if test="moneycard != null">
                MoneyCard,
            </if>
            <if test="branchcode != null">
                BranchCode,
            </if>
            <if test="aratio != null">
                ARatio,
            </if>
            <if test="bratio != null">
                BRatio,
            </if>
            <if test="cratio != null">
                CRatio,
            </if>
            <if test="dratio != null">
                DRatio,
            </if>
            <if test="eratio != null">
                ERatio,
            </if>
            <if test="fratio != null">
                FRatio,
            </if>
            <if test="aratio2 != null">
                ARatio2,
            </if>
            <if test="bratio2 != null">
                BRatio2,
            </if>
            <if test="cratio2 != null">
                CRatio2,
            </if>
            <if test="dratio2 != null">
                DRatio2,
            </if>
            <if test="eratio2 != null">
                ERatio2,
            </if>
            <if test="fratio2 != null">
                FRatio2,
            </if>
            <if test="fullstationcode != null">
                FullStationCode,
            </if>
            <if test="fullbranchcode != null">
                FullBranchCode,
            </if>
            <if test="flag != null">
                Flag,
            </if>
            <if test="roletype != null">
                RoleType,
            </if>
            <if test="isagent != null">
                IsAgent,
            </if>
            <if test="postType != null">
                postType,
            </if>
            <if test="dbbk != null">
                dbbk,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="usercode != null">
                #{usercode,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="userstate != null">
                #{userstate,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=VARCHAR},
            </if>
            <if test="stationcode != null">
                #{stationcode,jdbcType=VARCHAR},
            </if>
            <if test="picturepath != null">
                #{picturepath,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="nation != null">
                #{nation,jdbcType=VARCHAR},
            </if>
            <if test="education != null">
                #{education,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="political != null">
                #{political,jdbcType=VARCHAR},
            </if>
            <if test="moneycard != null">
                #{moneycard,jdbcType=VARCHAR},
            </if>
            <if test="branchcode != null">
                #{branchcode,jdbcType=VARCHAR},
            </if>
            <if test="aratio != null">
                #{aratio,jdbcType=DOUBLE},
            </if>
            <if test="bratio != null">
                #{bratio,jdbcType=DOUBLE},
            </if>
            <if test="cratio != null">
                #{cratio,jdbcType=DOUBLE},
            </if>
            <if test="dratio != null">
                #{dratio,jdbcType=DOUBLE},
            </if>
            <if test="eratio != null">
                #{eratio,jdbcType=DOUBLE},
            </if>
            <if test="fratio != null">
                #{fratio,jdbcType=DOUBLE},
            </if>
            <if test="aratio2 != null">
                #{aratio2,jdbcType=DOUBLE},
            </if>
            <if test="bratio2 != null">
                #{bratio2,jdbcType=DOUBLE},
            </if>
            <if test="cratio2 != null">
                #{cratio2,jdbcType=DOUBLE},
            </if>
            <if test="dratio2 != null">
                #{dratio2,jdbcType=DOUBLE},
            </if>
            <if test="eratio2 != null">
                #{eratio2,jdbcType=DOUBLE},
            </if>
            <if test="fratio2 != null">
                #{fratio2,jdbcType=DOUBLE},
            </if>
            <if test="fullstationcode != null">
                #{fullstationcode},
            </if>
            <if test="fullbranchcode != null">
                #{fullbranchcode},
            </if>
            <if test="flag != null">
                #{flag},
            </if>
            <if test="roletype != null">
                #{roletype,jdbcType=VARCHAR},
            </if>
            <if test="isagent != null">
                #{isagent,jdbcType=VARCHAR},
            </if>
            <if test="postType != null">
                #{postType,jdbcType=VARCHAR},
            </if>
            <if test="dbbk != null">
                #{dbbk,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <insert id="add"
            parameterType="com.welb.organization_check.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="usercode != null">
                UserCode,
            </if>
            <if test="username != null">
                UserName,
            </if>
            <if test="password != null">
                Password,
            </if>
            <if test="userstate != null">
                UserState,
            </if>
            <if test="mobile != null">
                Mobile,
            </if>
            <if test="operator != null">
                Operator,
            </if>
            <if test="stationcode != null">
                StationCode,
            </if>
            <if test="picturepath != null">
                PicturePath,
            </if>
            <if test="sex != null">
                Sex,
            </if>
            <if test="nation != null">
                Nation,
            </if>
            <if test="education != null">
                Education,
            </if>
            <if test="email != null">
                Email,
            </if>
            <if test="political != null">
                Political,
            </if>
            <if test="moneycard != null">
                MoneyCard,
            </if>
            <if test="branchcode != null">
                BranchCode,
            </if>
            <if test="aratio != null">
                ARatio,
            </if>
            <if test="bratio != null">
                BRatio,
            </if>
            <if test="cratio != null">
                CRatio,
            </if>
            <if test="dratio != null">
                DRatio,
            </if>
            <if test="eratio != null">
                ERatio,
            </if>
            <if test="fratio != null">
                FRatio,
            </if>
            <if test="aratio2 != null">
                ARatio2,
            </if>
            <if test="bratio2 != null">
                BRatio2,
            </if>
            <if test="cratio2 != null">
                CRatio2,
            </if>
            <if test="dratio2 != null">
                DRatio2,
            </if>
            <if test="eratio2 != null">
                ERatio2,
            </if>
            <if test="fratio2 != null">
                FRatio2,
            </if>
            <if test="fullstationcode != null">
                FullStationCode,
            </if>
            <if test="fullbranchcode != null">
                FullBranchCode,
            </if>
            <if test="flag != null">
                Flag,
            </if>
            <if test="roletype != null">
                RoleType,
            </if>
            <if test="isagent != null">
                IsAgent,
            </if>
            <if test="postType != null">
                postType,
            </if>
            <if test="dbbk != null">
                dbbk,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="usercode != null">
                #{usercode,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="userstate != null">
                #{userstate,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=VARCHAR},
            </if>
            <if test="stationcode != null">
                #{stationcode,jdbcType=VARCHAR},
            </if>
            <if test="picturepath != null">
                #{picturepath,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="nation != null">
                #{nation,jdbcType=VARCHAR},
            </if>
            <if test="education != null">
                #{education,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="political != null">
                #{political,jdbcType=VARCHAR},
            </if>
            <if test="moneycard != null">
                #{moneycard,jdbcType=VARCHAR},
            </if>
            <if test="branchcode != null">
                #{branchcode,jdbcType=VARCHAR},
            </if>
            <if test="aratio != null">
                #{aratio,jdbcType=DOUBLE},
            </if>
            <if test="bratio != null">
                #{bratio,jdbcType=DOUBLE},
            </if>
            <if test="cratio != null">
                #{cratio,jdbcType=DOUBLE},
            </if>
            <if test="dratio != null">
                #{dratio,jdbcType=DOUBLE},
            </if>
            <if test="eratio != null">
                #{eratio,jdbcType=DOUBLE},
            </if>
            <if test="fratio != null">
                #{fratio,jdbcType=DOUBLE},
            </if>
            <if test="aratio2 != null">
                #{aratio2,jdbcType=DOUBLE},
            </if>
            <if test="bratio2 != null">
                #{bratio2,jdbcType=DOUBLE},
            </if>
            <if test="cratio2 != null">
                #{cratio2,jdbcType=DOUBLE},
            </if>
            <if test="dratio2 != null">
                #{dratio2,jdbcType=DOUBLE},
            </if>
            <if test="eratio2 != null">
                #{eratio2,jdbcType=DOUBLE},
            </if>
            <if test="fratio2 != null">
                #{fratio2,jdbcType=DOUBLE},
            </if>
            <if test="fullstationcode != null">
                #{fullstationcode},
            </if>
            <if test="fullbranchcode != null">
                #{fullbranchcode},
            </if>
            <if test="flag != null">
                #{flag},
            </if>
            <if test="roletype != null">
                #{roletype,jdbcType=VARCHAR},
            </if>
            <if test="isagent != null">
                #{isagent,jdbcType=VARCHAR},
            </if>
            <if test="postType != null">
                #{postType,jdbcType=VARCHAR},
            </if>
            <if test="dbbk != null">
                #{dbbk,jdbcType=VARCHAR},
            </if>

        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.welb.organization_check.entity.User">
        update user
        <set>
            <if test="username != null">
                UserName = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                Password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="userstate != null">
                UserState = #{userstate,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                Mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                Operator = #{operator,jdbcType=VARCHAR},
            </if>
            <if test="stationcode != null">
                StationCode = #{stationcode,jdbcType=VARCHAR},
            </if>
            <if test="picturepath != null">
                PicturePath = #{picturepath,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                Sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="nation != null">
                Nation = #{nation,jdbcType=VARCHAR},
            </if>
            <if test="education != null">
                Education = #{education,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                Email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="political != null">
                Political = #{political,jdbcType=VARCHAR},
            </if>
            <if test="moneycard != null">
                MoneyCard = #{moneycard,jdbcType=VARCHAR},
            </if>
            <if test="branchcode != null">
                BranchCode = #{branchcode,jdbcType=VARCHAR},
            </if>
            <if test="aratio != null">
                ARatio = #{aratio,jdbcType=DOUBLE},
            </if>
            <if test="bratio != null">
                BRatio = #{bratio,jdbcType=DOUBLE},
            </if>
            <if test="cratio != null">
                CRatio = #{cratio,jdbcType=DOUBLE},
            </if>
            <if test="dratio != null">
                DRatio = #{dratio,jdbcType=DOUBLE},
            </if>
            <if test="eratio != null">
                ERatio = #{eratio,jdbcType=DOUBLE},
            </if>
            <if test="fratio != null">
                FRatio = #{fratio,jdbcType=DOUBLE},
            </if>
            <if test="aratio2 != null">
                ARatio2 = #{aratio2,jdbcType=DOUBLE},
            </if>
            <if test="bratio2 != null">
                BRatio2 = #{bratio2,jdbcType=DOUBLE},
            </if>
            <if test="cratio2 != null">
                CRatio2 = #{cratio2,jdbcType=DOUBLE},
            </if>
            <if test="dratio2 != null">
                DRatio2 = #{dratio2,jdbcType=DOUBLE},
            </if>
            <if test="eratio2 != null">
                ERatio2 = #{eratio2,jdbcType=DOUBLE},
            </if>
            <if test="fratio2 != null">
                FRatio2 = #{fratio2,jdbcType=DOUBLE},
            </if>
            <if test="fullstationcode != null">
                FullStationCode = #{fullstationcode,jdbcType=VARCHAR},
            </if>
            <if test="fullbranchcode != null">
                FullBranchCode = #{fullbranchcode,jdbcType=VARCHAR},
            </if>
            <if test="flag != null">
                Flag = #{flag,jdbcType=VARCHAR},
            </if>
            <if test="roletype != null">
                RoleType = #{roletype,jdbcType=VARCHAR},
            </if>
            <if test="isagent != null">
                IsAgent = #{isagent,jdbcType=VARCHAR},
            </if>
            <if test="postType != null">
                postType = #{postType,jdbcType=VARCHAR},
            </if>
            <if test="dbbk != null">
                dbbk = #{dbbk,jdbcType=VARCHAR},
            </if>
        </set>
        where UserCode = #{usercode,jdbcType=VARCHAR}
    </update>

    <select id="findUserByUserCode" resultType="com.welb.organization_check.entity.User">
    select u.*,r.* from user u,role r,user_role ur
    where u.UserCode=ur.UserCode
    and ur.RoleCode =r.RoleCode
    and u.UserCode=#{usercode}
    and u.Flag="0"
    and u.UserState="1"
    and u.RoleType="0"
    and r.RoleCode in("100","150","200","300","50")
  </select>
    <!--修改用户密码-->
    <update id="updateUserPassword" parameterType="com.welb.organization_check.entity.User">
    update user set Password=#{password} where UserCode=#{usercode}
  </update>
    <!--查找用户code的最大数-->
    <select id="selectMaxUserCode" resultType="string">
    select MAX(CAST(UserCode AS SIGNED INTEGER)) from user
  </select>
    <!--查找所有用户-->
<!--    <select id="selectUserAll" resultMap="BaseResultMap">-->
<!--        select u.UserCode,u.UserName,u.StationCode,u.Mobile,u.Sex,u.Nation,u.UserState,-->
<!--        u.Education,u.Email,u.Political,u.MoneyCard,u.BranchCode,u.FullStationCode, u.ARatio,-->
<!--        u.BRatio,u.CRatio, u.DRatio,u.FullBranchCode,u.dbtype,u.dbbk-->
<!--        from user u,role r,user_role ur-->
<!--        <where>-->
<!--            <if test='dbtype!=null and dbtype!="" and dbtype=="1"'>-->
<!--                and u.dbbk!='' and u.dbbk is not null-->
<!--            </if>-->
<!--            <if test="username!=null and username!=''">-->
<!--                and u.UserName like concat('%',#{username},'%')-->
<!--            </if>-->
<!--            <if test="stationcode!=null and stationcode!=''">-->
<!--                and u.StationCode=#{stationcode}-->
<!--            </if>-->
<!--            <if test="usercode!=null and usercode!=''">-->
<!--                and u.UserCode=#{usercode}-->
<!--            </if>-->
<!--            <if test="userstate!=null and userstate!=''">-->
<!--                and u.UserState=#{userstate}-->
<!--            </if>-->
<!--            <if test="roletype!=null and roletype!=''">-->
<!--                and u.RoleType=#{roletype}-->
<!--            </if>-->
<!--            <if test="rolecode!=null and rolecode!=''">-->
<!--                and r.RoleCode=#{rolecode}-->
<!--            </if>-->
<!--            and u.Flag ="0"-->
<!--            and u.RoleType="0"-->
<!--            and u.UserState="1"-->
<!--            and u.UserCode=ur.UserCode-->
<!--            and r.RoleCode=ur.RoleCode-->
<!--            <if test='dbtype!=null and dbtype!="" and dbtype!="1"'>-->
<!--                and r.RoleCode in("100","150","200","300","50")-->
<!--            </if>-->

<!--        </where>-->
<!--        order by u.UserCode+0-->
<!--    </select>-->
    <select id="selectUserAll" resultMap="BaseResultMap">
        select u.UserCode,u.UserName,u.StationCode,u.Mobile,u.Sex,u.Nation,u.UserState,
        u.Education,u.Email,u.Political,u.MoneyCard,u.BranchCode,u.FullStationCode, u.ARatio,
        u.BRatio,u.CRatio, u.DRatio,u.ERatio, u.FRatio,u.ARatio2, u.BRatio2,u.CRatio2,
        u.DRatio2,u.ERatio2, u.FRatio2,u.FullBranchCode,u.postType,u.dbtype,u.dbbk
        from user u
        <where>
            <if test='user.dbtype!=null and user.dbtype!="" and user.dbtype=="1"'>
                and u.dbbk!='' and u.dbbk is not null
            </if>
            <if test="user.username!=null and user.username!=''">
                and u.UserName like concat('%',#{user.username},'%')
            </if>
            <if test="user.stationcode!=null and user.stationcode!=''">
                and u.StationCode=#{user.stationcode}
            </if>
            <if test="user.usercode!=null and user.usercode!=''">
                and u.UserCode=#{user.usercode}
            </if>
            <if test="user.userstate!=null and user.userstate!=''">
                and u.UserState=#{user.userstate}
            </if>
            <if test="user.roletype!=null and user.roletype!=''">
                and u.RoleType=#{user.roletype}
            </if>
            <if test="user.postType!=null and user.postType!=''">
                and u.postType=#{user.postType}
            </if>
            and u.Flag ="0"
            and u.RoleType="0"
            and u.UserState="1"
            AND u.UserCode in (
                select ur.UserCode from user_role ur,role r where r.RoleCode = ur.RoleCode
                <if test="user.rolecode!=null and user.rolecode!=''">
                    and r.RoleCode=#{user.rolecode}
                </if>
                <if test='user.dbtype!=null and user.dbtype!="" and user.dbtype!="1"'>
                    and r.RoleCode in
                    <foreach item="item" index="index" collection="roleList" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
            )
        </where>
        order by u.UserCode+0
    </select>

    <select id="selectUserScoreAll" resultMap="BaseResultMap">
        select u.UserCode,u.UserName,u.StationCode,u.Mobile,u.Sex,u.Nation,u.UserState,
        u.Education,u.Email,u.Political,u.MoneyCard,u.BranchCode,u.FullStationCode, u.ARatio,
        u.BRatio,u.CRatio, u.DRatio,u.ERatio, u.FRatio,u.ARatio2, u.BRatio2,u.CRatio2,
        u.DRatio2,u.ERatio2, u.FRatio2,u.FullBranchCode,u.postType,u.dbtype,u.dbbk
        from user u
        <where>
            <if test='user.dbtype!=null and user.dbtype!="" and user.dbtype=="1"'>
                and u.dbbk!='' and u.dbbk is not null
            </if>
            <if test="user.username!=null and user.username!=''">
                and u.UserName like concat('%',#{user.username},'%')
            </if>
            <if test="user.stationcode!=null and user.stationcode!=''">
                and u.StationCode=#{user.stationcode}
            </if>
            <if test="user.usercode!=null and user.usercode!=''">
                and u.UserCode=#{user.usercode}
            </if>
            <if test="user.userstate!=null and user.userstate!=''">
                and u.UserState=#{user.userstate}
            </if>
            <if test="user.roletype!=null and user.roletype!=''">
                and u.RoleType=#{user.roletype}
            </if>
            and u.Flag ="0"
            and u.RoleType="0"
            and u.UserState="1"
            AND u.UserCode in (
            select ur.UserCode from user_role ur,role r where r.RoleCode = ur.RoleCode
            <if test="user.rolecode!=null and user.rolecode!=''">
                and r.RoleCode=#{user.rolecode}
            </if>
            <if test='user.dbtype!=null and user.dbtype!="" and user.dbtype!="1"'>
                and r.RoleCode in
                <foreach item="item" index="index" collection="roleList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            )
            AND u.UserCode in (
                select code from (
                    SELECT ScorredCode code FROM score WHERE dbtype =#{user.dbtype} union
                    SELECT ScorringCode code FROM score WHERE dbtype =#{user.dbtype}
                ) a
            )
        </where>
        order by u.UserCode+0
    </select>
    <select id="selectUserAllBpfr" resultMap="BaseResultMap">
    select
        u.UserCode,u.UserName,u.StationCode,u.Mobile,u.Sex,u.Nation,u.UserState,
        u.Education,u.Email,u.Political,u.MoneyCard,u.BranchCode,u.FullStationCode,
        <if test='dbtype!=null and dbtype=="1"'>
            u.ARatio,
        </if>
        <if test='dbtype!=null and dbtype=="2"'>
            u.ARatio2 ARatio,
        </if>
        <if test='dbtype!=null and dbtype=="1"'>
            u.BRatio,
        </if>
        <if test='dbtype!=null and dbtype=="2"'>
            u.BRatio2 BRatio,
        </if>
        <if test='dbtype!=null and dbtype=="1"'>
            u.CRatio,
        </if>
        <if test='dbtype!=null and dbtype=="2"'>
            u.CRatio2 CRatio,
        </if>
        <if test='dbtype!=null and dbtype=="1"'>
            u.DRatio,
        </if>
        <if test='dbtype!=null and dbtype=="2"'>
            u.DRatio2 DRatio,
        </if>
        <if test='dbtype!=null and dbtype=="1"'>
            u.ERatio,
        </if>
        <if test='dbtype!=null and dbtype=="2"'>
            u.ERatio2 ERatio,
        </if>
        <if test='dbtype!=null and dbtype=="1"'>
            u.FRatio,
        </if>
        <if test='dbtype!=null and dbtype=="2"'>
            u.FRatio2 FRatio,
        </if>
        u.postType,
        u.dbbk,
        u.BranchCode
    from user u where u.UserCode in (
        select code from (select distinct ScorredCode code from score where dbtype= #{dbtype}) a
    )
    <if test="postType != null and postType !=''">
        AND u.postType= #{postType}
    </if>
    </select>
    <select id="selectUserPfr" resultMap="BaseResultMap">
        select u.UserCode,u.UserName,u.StationCode,u.Mobile,u.Sex,u.Nation,u.UserState,
        u.Education,u.Email,u.Political,u.MoneyCard,u.BranchCode,u.FullStationCode, u.ARatio,
        u.BRatio,u.CRatio, u.DRatio,u.ERatio, u.FRatio,u.ARatio2, u.BRatio2,u.CRatio2, u.DRatio2,
        u.ERatio2, u.FRatio2,u.FullBranchCode,u.postType,u.dbtype,u.dbbk
        from user u,role r,user_role ur
        where
        u.Flag ="0"
        and u.RoleType="0"
        and u.UserState="1"
        and u.UserCode=ur.UserCode
        and r.RoleCode=ur.RoleCode
        and u.UserCode in (
        <if test="isDq">
            select code from (select distinct ScorringCode code from score where dbtype= #{dbtype}) a
        </if>
        <if test="!isDq">
            select ScorringCode from (
            select DISTINCT sf.ScorringCode from monthsummary m,scoreflow sf where m.SerialNo = sf.MSerialNo and
            m.dbtype = sf.dbtype and m.year = #{year} and m.month=#{month} and m.dbtype=#{dbtype}) a
        </if>
        )
        order by u.UserCode+0
    </select>
    <!--通过stationcode查找用户-->
    <select id="selectUserByStationCode" resultMap="BaseResultMap">
        select u.UserName,u.UserCode,u.StationCode,u.MoneyCard
        from user u,station s
        where u.StationCode=s.StationCode
<!--        <if test='dbtype!=null and dbtype!=""'>-->
<!--            and u.dbtype=#{dbtype}-->
<!--        </if>-->
<!--        <if test='dbbk!=null and dbbk!=""'>-->
<!--            and u.dbbk=#{dbbk}-->
<!--        </if>-->
        and s.StationCode=#{stationcode}
        and u.Flag="0"
        and u.UserState="1"
        and u.RoleType="0"
    </select>

    <select id="selectUserByDepartmentCode" resultMap="BaseResultMap">
        select u.* ,d.DepartmentCode from user u,station s,department d
        where u.StationCode=s.StationCode
<!--        <if test='dbtype!=null and dbtype!=""'>-->
<!--            and u.dbtype=#{dbtype}-->
<!--        </if>-->
<!--        <if test='dbbk!=null and dbbk!=""'>-->
<!--            and u.dbbk=#{dbbk}-->
<!--        </if>-->
        AND d.DepartmentCode=s.DepartmentCode
        and d.DepartmentCode=#{departmentcode}
        and u.Flag="0"
        and u.UserState="1"
        and u.RoleType="0"
    </select>

    <select id="findUserByScoreFlowType" resultMap="BaseResultMap">
    SELECT
        u.*
    FROM
        user u,
        scoreflow sf
    WHERE
        sf.ScorringCode = u.UserCode
        AND sf.MSerialNo = #{mserialNo}
        AND sf.ScoreType = #{scoreType}
        <if test='dbtype!=null and dbtype!=""'>
            and sf.dbtype=#{dbtype}
        </if>
         <if test='dbbk!=null and dbbk!=""'>
            and u.dbbk=#{dbbk}
        </if>
  </select>

    <!--查找所有用户-->
    <select id="findUserAll" resultMap="BaseResultMap1">
       select u.UserCode,u.Mobile,u.UserName,u.MoneyCard,r.RoleCode,ur.* from user u,role r,user_role ur
       where u.UserCode=ur.UserCode
       and r.RoleCode=ur.RoleCode
       and ur.RoleCode in("100","150","200","300","50")
       and u.Flag="0"
       and u.UserState="1"
       and u.RoleType="0"
    </select>
    <!--查找RoleCode用户-->
    <select id="findUserByRoleCode" resultMap="BaseResultMap1">
       select u.UserCode,u.Mobile,u.UserName,r.RoleCode,ur.* from user u,role r,user_role ur
       where u.UserCode=ur.UserCode
       and r.RoleCode=ur.RoleCode
        <if test='dbtype!=null and dbtype !="2" and (dbbk==null or dbbk=="")'>
            and u.dbbk in('3','4')
        </if>
        <if test='dbtype!=null and dbtype !="2" and dbbk!=null and dbbk!=""'>
            and u.dbbk = #{dbbk}
        </if>
        <if test="qrcode==null">
            AND u.UserCode in (
            <if test="isDq">
                select code from (
                    SELECT ScorredCode code FROM score WHERE dbtype =#{dbtype} union
                    SELECT ScorringCode code FROM score WHERE dbtype =#{dbtype}
                ) a
            </if>
            <if test="!isDq">
                select code from (
                select sf.ScoredCode code from monthsummary m,scoreflow sf where m.SerialNo = sf.MSerialNo and
                m.dbtype = sf.dbtype and m.year = #{year} and m.month=#{month} and m.dbtype=#{dbtype}
                select sf.ScorringCode code from monthsummary m,scoreflow sf where m.SerialNo = sf.MSerialNo and
                m.dbtype = sf.dbtype and m.year = #{year} and m.month=#{month} and m.dbtype=#{dbtype}
                ) a
            </if>
            )
        </if>
        <if test='qrcode!=null and qrcode=="pfr"'>
            AND u.UserCode in (
            <if test="isDq">
            select ScorringCode from (SELECT DISTINCT ScorringCode FROM score WHERE dbtype =#{dbtype}) a
            </if>
            <if test="!isDq">
            select ScorringCode from (
            select DISTINCT sf.ScorringCode from monthsummary m,scoreflow sf where m.SerialNo = sf.MSerialNo and
            m.dbtype = sf.dbtype and m.year = #{year} and m.month=#{month} and m.dbtype=#{dbtype}) a
            </if>
            )
        </if>
        <if test='qrcode!=null and qrcode=="bpfr"'>
            AND u.UserCode in (
            <if test="isDq">
            select ScorredCode from (SELECT DISTINCT ScorredCode FROM score WHERE dbtype =#{dbtype}) a
            </if>
            <if test="!isDq">
            select ScoredCode from (
            select DISTINCT sf.ScoredCode from monthsummary m,scoreflow sf where m.SerialNo = sf.MSerialNo and
            m.dbtype = sf.dbtype and m.year = #{year} and m.month=#{month} and m.dbtype=#{dbtype}) a
            </if>
            )
        </if>
        <if test="postType != null and postType !=''">
            and u.postType = #{postType}
        </if>
       and u.Flag="0"
       and u.UserState="1"
       and u.RoleType="0"
    </select>
    <!--查找所有用户-->
    <select id="findUserAllBySummary" resultMap="BaseResultMap1">
       select u.UserCode,u.Mobile,u.UserName,r.RoleCode,ur.* from user u,role r,user_role ur
       where u.UserCode=ur.UserCode
       and r.RoleCode=ur.RoleCode
       and ur.RoleCode in("100","200","300","50")
       and u.Flag="0"
       and u.UserState="1"
       and u.RoleType="0"
    </select>

    <select id="findFlagUsers" resultMap="BaseResultMap">
        select UserCode,UserName from user where Flag="1"
    </select>

    <select id="findOne" resultType="com.welb.organization_check.entity.User">
        select Flag from user where UserCode=#{usercode}
    </select>


    <select id="findRaterUserByUserCode" resultType="com.welb.organization_check.entity.User">
    select u.* from user u
    where  u.UserCode=#{usercode}
    and u.Flag="0"
    and u.UserState="1"
  </select>

    <select id="findUserBranchByDbbk" resultType="com.welb.organization_check.entity.User">
    SELECT
        *
    FROM
        USER
    WHERE
        Flag = "0"
        AND UserState = "1"
        AND RoleType = "0"
        AND dbbk = #{dbbk}
        AND BranchCode != ''
    </select>

    <select id="selectPersonnelUserByMoneyCard" parameterType="java.lang.String" resultMap="BaseResultMap">
        select u.UserCode,u.UserName,p.Mone from user u,personnel_user p
        where u.UserCode=R.UserCode
        AND  p.MoneyCard=u.MoneyCard
        and u.Flag="0"
        and u.UserState="1"
    </select>

    <delete id="deleteUserByMoneyCard">
      delete from user where MoneyCard=#{moneycard} and Flag="0" and UserState="1"
    </delete>


    <select id="findUserByOne" resultType="com.welb.organization_check.entity.User">
    select u.* from user u
    where u.UserCode=#{usercode}
    and u.Flag="0"
    and u.UserState="1"
    </select>

    <select id="getUserList" resultMap="BaseResultMap">
    select d.DepartmentName ,u.*,s.StationName from station s ,department d ,user u,user_role ur
    where s.DepartmentCode=d.DepartmentCode
    and u.MoneyCard !=#{moneycard}
    and u.StationCode=s.StationCode
    and u.UserCode=ur.UserCode
    and ur.RoleCode in("100","200","300","400","50")
    and d.DepartmentCode = (select DepartmentCode from department where DepartmentName=#{departmentname})
  </select>

    <!--查找打分用户-->
    <select id="selectGradeUserList" parameterType="java.lang.String"  resultMap="BaseResultMap">
    select u.*  from user u,user_role ur
     where  u.UserCode=ur.UserCode
     and u.userCode in(
        select code from (select distinct ScorringCode code from score where dbtype= #{dbtype}) a
     )
     and u.Flag="0"
     and u.UserState="1"
    </select>

    <select id="getUserByMoneyCard" resultType="com.welb.organization_check.entity.User">
        select UserCode,UserName,Mobile,UserState,MoneyCard from user where Moneycard=#{moneycard} and Flag="0"
    </select>


    <select id="selectUserByMoneyCard" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where MoneyCard = #{moneycard,jdbcType=VARCHAR}
        and Flag="0"
    </select>

    <select id="selectUserBuGwByMoneyCard" resultType="com.welb.organization_check.entity.User">
        SELECT
            u.*,
            s.stationName,
            d.departmentName,
            b.BranchName
            FROM
            USER u
            left join station s on
            u.StationCode = s.StationCode
            left join department d on
            s.DepartmentCode = d.DepartmentCode
            left join branch b on
            b.BranchCode = u.BranchCode
        where
            u.Flag="0"
            <if test="user.UserCode != null">
                AND u.UserCode = #{user.usercode}
            </if>
            <if test="user.MoneyCard != null">
                AND u.UserCode = #{user.moneycard}
            </if>
    </select>
    <!--查找用户，按UserCode查询-->
    <select id="findUserByCodeList" resultMap="BaseResultMap1">
        select u.UserCode,u.MoneyCard,u.Mobile,u.UserName,r.RoleCode,ur.*
        from user u,role r,user_role ur
        where
        u.UserCode=ur.UserCode
        and r.RoleCode=ur.RoleCode
        and u.Flag ="0"
        and u.RoleType="0"
        and u.UserState="1"
        and r.RoleCode in ("100","150","200","300","50")
        and u.UserCode in
        <foreach item="item" index="index" collection="codeList" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectUserScoreStationList" resultType="com.welb.organization_check.entity.User">
        select
            u.*,
            r.RoleCode
        from
            user u
            inner join (
                select UserCode,RoleCode from user_role where RoleCode in ('150','300')
            ) r on u.UserCode = r.UserCode
         where
            u.Flag = 0 and
            u.StationCode in (
                select code from (
                    select ScorringStationCode code from scorestation union
                    select ScorredStationCode code from scorestation
                ) a
            )
    </select>

    <select id="selectUserByInStationCode"  resultType="com.welb.organization_check.entity.User">
        select
        u.UserCode,u.MoneyCard,u.Mobile,u.UserName,
        <if test='dbtype!=null and dbtype=="1"'>
            u.ARatio,
        </if>
        <if test='dbtype!=null and dbtype=="2"'>
            u.ARatio2 ARatio,
        </if>
        <if test='dbtype!=null and dbtype=="1"'>
            u.BRatio,
        </if>
        <if test='dbtype!=null and dbtype=="2"'>
            u.BRatio2 BRatio,
        </if>
        <if test='dbtype!=null and dbtype=="1"'>
            u.CRatio,
        </if>
        <if test='dbtype!=null and dbtype=="2"'>
            u.CRatio2 CRatio,
        </if>
        <if test='dbtype!=null and dbtype=="1"'>
            u.DRatio,
        </if>
        <if test='dbtype!=null and dbtype=="2"'>
            u.DRatio2 DRatio,
        </if>
        <if test='dbtype!=null and dbtype=="1"'>
            u.ERatio,
        </if>
        <if test='dbtype!=null and dbtype=="2"'>
            u.ERatio2 ERatio,
        </if>
        <if test='dbtype!=null and dbtype=="1"'>
            u.FRatio,
        </if>
        <if test='dbtype!=null and dbtype=="2"'>
            u.FRatio2 FRatio,
        </if>
        u.StationCode,
        u.postType,
        u.dbbk,
        u.BranchCode
        from user u,station s where u.stationCode = s.stationCode
        AND u.stationCode in
        <foreach item="item" index="index" collection="codeList" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>
