<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.welb.vote.mapper.VoteRulesMapper" >
  <resultMap id="BaseResultMap" type="com.welb.vote.entity.VoteRules" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="way" property="way" jdbcType="VARCHAR" />
    <result column="proportion" property="proportion" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, time, phone, way, proportion
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from vote_rules
    where id = #{id,jdbcType=INTEGER}
  </select>

</mapper>
